body, div, h5, input {
  padding:10;
  margin:10;
}

img {border:0}

:focus {outline:none}

body, input {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  color: #4c4c4c;
}



.drivy {
  margin: 20px auto;
  width: 900px;
  height: 470px;
  background-color: #bedee8;
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}
.title {
  margin-left:25px;
  margin-top:10px;
  width: 320px;
}

.titleLambo {
  margin-left:30px;
  margin-top:10px;
  width: 100px;
}

.titlePorsche {
  margin-left:10px;
  margin-top:20px;
  width: 110px;
}

.titleFerrari {
  margin-left:10px;
  margin-top:20px;
  width: 120px;
}

.titleMclaren {
  margin-left:10px;
  margin-top:10px;
  width: 120px;
}

.container {
  margin-left: 450px;
}


input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
  margin-left:100px;
  margin-top:50px;
}

label.radio {
  cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
}

label.radio:before {
  background: #000000;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #bedee8;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}


input[type=text],input[type=date]{
  width: 220px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #cbc9c9;
  margin:30px;
  margin-left: -10px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 5px;
}

input[type=password]{
  margin-bottom: 25px;
}



a.button {
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  padding: 6px 25px 0px 20px;
  margin: 30px 370px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px;
  background-color: #ffffff;
  top: 0px;
  position: relative;
}

